<div class="container mt-3">
  <h1>My lists</h1>
  <ul class="list-group">
    <% @lists.each do |list| %>
      <%= link_to list.name, list_path(list), class: "list-group-item list-group-item-action py-3" %>
    <% end %>
  </ul>
</div>
