// Import page-specific CSS files here.
@import "home";

.banner {
  background-image: url(asset_path("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80"));
  width: 100%;
  height: 500px;
  object-fit: cover;
  text-align: center;
  padding: 200px;
  h1 {
    color: white;
  }
}
